.wrapper {
  height: 20px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  //   flex: 1;
  cursor: pointer;

  &:hover {
    // opacity: 0.4;
    background-color: #14060620;
  }
}
