.charList {
  margin: 30px 0 0 30px;
  position: absolute;
  height: 60vh;
  max-height: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 2;
  backdrop-filter: blur(3px);
  border: 1px solid #d3d3d4;
  border-radius: 8px;
  transition: 0.5s ease;
  overflow: hidden;
  @media (max-width: 601px) {
    margin: 30px 20px 0;
    height: 50px;
    left: 0;
    right: 0;
  }
}
.opened {
  height: 60vh;
}
